[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
tqdm = "*"
typesense = "*"
typing-extensions = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
