-i https://pypi.org/simple
certifi==2025.1.31; python_version >= '3.6'
charset-normalizer==3.4.1; python_version >= '3.7'
elastic-transport==8.17.1; python_version >= '3.8'
elasticsearch==8.17.2; python_version >= '3.8'
idna==3.10; python_version >= '3.6'
requests==2.32.3; python_version >= '3.8'
tqdm==4.67.1; python_version >= '3.7'
typesense==1.0.3; python_version >= '3'
typing-extensions==4.13.2; python_version >= '3.8'
urllib3==2.4.0; python_version >= '3.9'
pandas